@model IEnumerable<GardenManager.Models.t_tache>

@{
    ViewBag.Title = "Index";
}

<h2>Tâches</h2>

<p>
    @Html.ActionLink("Nouvelle tâche", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table-hover table-bordered">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tacName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tacDetails)
        </td>
        <td style="text-align-last:center">
            @Html.ActionLink(" ", "Edit", new { id = item.tacId }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
            <br />
            @Html.ActionLink(" ", "Delete", new { id = item.tacId }, new { @class = "glyphicon glyphicon-remove", title = "Supprimer" })
        </td>
    </tr>
}

</table>
