@model GardenManager.Models.t_plante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_plante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.plaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plaProtocol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plaProtocol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
