@model IEnumerable<GardenManager.Models.t_plante>

@{
    ViewBag.Title = "Index";
}

<h2>Plantes</h2>

<p>
    @Html.ActionLink("Nouvelle plante", "Create",null,new { @class = "btn btn-primary" })
</p>
<table class="table-hover table-bordered">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Type
        </th>
        <th>
            Protocole
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.plaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plaType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plaProtocol)
        </td>
        <td style="text-align-last:center">
            @Html.ActionLink(" ", "Edit", new { id = item.plaId }, new { @class = "glyphicon glyphicon-pencil", title = "Modifier" })
            <br />
            @Html.ActionLink(" ", "Delete", new { id=item.plaId }, new { @class = "glyphicon glyphicon-remove", title = "Supprimer" }) 
        </td>
    </tr>
}

</table>
